@font-face {
    font-family: "Neon80";
    src: url(Neon.ttf);
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: #FDFCF6;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    height: 150px;
    width: 100%;
}
label.logo img{
    justify-content: center;
    width: 200px;
    cursor: pointer;
}
nav ul{
    float: right;
    margin-right: 20px;
    margin-top: 50px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0.5px;
}
nav ul li a{
    color: black;
    font-size: 17px;
    font-family: Neon80;
    text-transform: uppercase;
    padding: 20px;
}
a.active{
    color: #d79943;
    transition: .5s;
    text-decoration: underline;
}
a.hover{
    color: aliceblue;
}
.checkbtn{
    color: black;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    margin-top: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width:952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width:800px){
    .checkbtn{
        display: block;
    }
    ul{
        position:fixed;
        width: 100%;
        height: 100vh;
        left: -100%;
        top: 90px;
        background: rgb(215, 234, 243);
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        padding-top: 20px;
    }
    nav ul li a{
        font-size: 20px;

    }
    a.hover{
        color: aliceblue;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
h1{
    color: #d79943;
    font-family: neon80;
    font-size: 75px;
    text-align: center;
    font-weight: 100;
    padding-top: 100px;
}
h2{
    color: #ebc695;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: 100;
    margin-top: 40px;
}

/*Project Thumbnails*/

.projects_row1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.projects_row2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.projects_row1 img{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 3px;
    margin: 10px;
}
.projects_row2 img{
    width: 300px;
    height: 300px;
    background-color: lightgray;
    border-radius: 3px;
    margin: 10px;
}
.content{
    display: none;
    position: relative;
    top: -200px;
    color: #1a284b;
    font-family: neon80;
    font-size: 35px;
    text-align: center;
}
.chess:hover .content{
    display: block;
}
.chess:hover img{
    opacity: 20%;
    transition: 0.5s;
    cursor: pointer;
} 
.trendy:hover .content{
    display: block;
}
.trendy:hover img{
    opacity: 20%;
    transition: 0.5s;
    cursor: pointer;
} 
.twice:hover .content{
    display: block;
}
.twice:hover img{
    opacity: 20%;
    transition: 0.5s;
    cursor: pointer;
} 
.wobbly:hover .content{
    display: block;
}
.wobbly:hover img{
    opacity: 20%;
    transition: 0.5s;
    cursor: pointer;
} 
.fame:hover .content{
    display: block;
}
.fame:hover img{
    opacity: 20%;
    transition: 0.5s;
    cursor: pointer;
} 
.mits:hover .content{
    display: block;
}
.mits:hover img{
    opacity: 20%;
    transition: 0.5s;
    cursor: pointer;
} 
.project_col{
    padding-top: 40px;
}
#project_image{
    padding: 10px;
    text-align: center;
}
#btn{
    margin-top: 30px;
    text-align: center;
}
#button{
    background-color: transparent;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    border-radius: 30px;
    color: #1a284b;
    border: rgb(215, 234, 243) solid 3px;
    font-family: neon80;
}
#button:hover{
    background-color: rgb(215, 234, 243);
    cursor: pointer;
}
.footer_nav{
    padding: 50px;
    font-family: neon80;
    font-size: 30px;
    margin-bottom: 50px;
}
#previous{
    float:left;
    cursor: pointer;  
    color: #1a284b 
}
#next{
    float: right;
    cursor: pointer;
    color: #1a284b
}
.video{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
/*Supposed to be a fade in on scroll for images (not working)
.hidden{
    opacity: 0;
    transition: 0.5s;
}
.show{
    opacity: 1;
}*/

/* CONTINUOUS LOOP  */

.title-word {
    animation: color-animation 4s linear infinite;
  }
  
  .title-word-1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
  }
  
  .title-word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #1a284b;
  }
  
  .title-word-3 {
    --color-1: #217d44;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
  }
  
  .title-word-4 {
    --color-1: #3D8DAE;
    --color-2: #DF8453;
    --color-3: #ebc695;
  }
  
  @keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }
  
  /* Here are just some visual styles. 🖌 */
  
  .container {
    display: grid;
    justify-content: left;
    place-items: center;  
    text-align: left;
    height: 50vh;
    float: right;
  }
  
  .title {
    font-family: neon80;
    color: white;
    font-weight: 200;
    font-size: 30px;
    text-transform: uppercase;
    margin-right: 200px;
    margin-top: 50px;
    
  }
  .title2 {
    font-family: neon80;
    color: white;
    font-weight: 200;
    font-size: 30px;
    text-transform: uppercase;
    
  }
  .title p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: left;
    text-transform: none;
    margin-left: 45px;
  }
  .title .title-word-2, 
  .title-word-3, .title-word-4{
    font-size: 30px;
  }
  
  /* ABOUT */
  .about_container{
    width: 100%;
    height: 700px;
    margin-top: 100px;
    margin-bottom: 40px;
    background-color: #1a284b;
  }
  .about img{
    text-align: center;
    margin-left: 200px;
    margin-top: 140px;
    
  }